@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: #FBF5FF;
}

p {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #f9d5e5;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color:  #c83349;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;

  transition: background-color 0.3s;
}

button:hover {
  background-color: #f9ccac;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #eea29a;
}

.sandy {
  color: #f9ccac;
}


.container {
  padding: 60px 80px 80px 80px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  
  color: #FBF5FF;
}

.header-legend {
  display: flex;
}

.header-legend-item {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 60px;

  font-weight: 500;
  font-size: 16px;
}

main {
  display: flex;
  gap: 45px;
  margin-top: 80px;
}

.selected-program-container {
  position: relative;
  flex-basis: 50%;
  padding: 30px 30px 0 60px;
  background: #c94c4c ;
  border-radius: 36px;
}

.selected-program-button {
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.article-reader-time {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 14px;

  color: #f9ccac;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;

  background: #ff6f69;
  border-radius: 19px;
}

.product-name {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  font-size: 18px;
}

.articles-list {
  flex-basis: 50%;
}

.article {
  display: flex;
  gap: 24px;
  padding-right: 100px;
  margin-bottom: 60px;
  position: relative;
  background: #c94c4c;
  border-radius: 36px;
}

.article:last-child {
  margin: 0;
}

.article-image,
.article-info {
  flex-basis: 50%;
}

.article-image {
  border-radius: 20px;
}

.article-info {
  margin: 48px 0;
}

.article-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.article-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}